<header>
    <div class="header-wrapper">
        <el-menu default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
            <el-menu-item index="1">首页</el-menu-item>
            <el-submenu index="2">
                <template slot="title">我的工作台</template>
                <el-menu-item index="2-1">JavaScript</el-menu-item>
                <el-menu-item index="2-2">TypeScript</el-menu-item>
                <el-menu-item index="2-3">AngularJS</el-menu-item>
                <el-menu-item index="2-4">Vue</el-menu-item>
                <el-menu-item index="2-4">React</el-menu-item>
            </el-submenu>
            <el-menu-item index="3">Github</el-menu-item>
        </el-menu>
    </div>
</header>