<div class="app">
    <header>
        <div class="header-wrapper">
            <el-menu theme="dark" default-active="1" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                <el-menu-item index="1">首页</el-menu-item>
                <el-submenu index="2">
                    <template slot="title">我的工作台</template>
                    <el-menu-item index="2-1">选项1</el-menu-item>
                    <el-menu-item index="2-2">选项2</el-menu-item>
                    <el-menu-item index="2-3">选项3</el-menu-item>
                </el-submenu>
                <el-menu-item index="3"><a href="https://github.com/toxichl" target="_blank">GitHub</a></el-menu-item>
            </el-menu>
            <div class="line"></div>
        </div>
    </header>

    <div class="content">
        <div class="content-wrapper">
            <el-col :span="4">
                <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" theme="dark">
                    <el-submenu index="1">
                        <template slot="title">导航一</template>
                        <el-menu-item-group title="分组一">
                            <el-menu-item index="1-1">
                                <router-link to="/page1">Go Page1</router-link>
                            </el-menu-item>
                            <el-menu-item index="1-2">
                                <router-link to="/page1">Go Page2</router-link>
                            </el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-menu-item index="2">导航二</el-menu-item>
                    <el-menu-item index="3">导航三</el-menu-item>
                </el-menu>
            </el-col>
        </div>
    </div>

    <footer>
        <div class="footer-wrapper">
            <span>I'm footer</span>
            <router-view></router-view>
        </div>
    </footer>
</div>